{% extends "base.html" %}

{% load static %}

{% block title %}Minha conta{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/minha-conta.css' %}">

<div class="conta-container">
  <h1>Minha conta</h1>
  <p>Olá, <strong>{{ user.first_name|default:user.username }}</strong> 👋</p>
  <p>Aqui estão suas informações:</p>
  <hr>

  <p><strong>Nome de usuário:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>

  <hr>

  <div class="conta-actions">
    <a href="{% url 'password_change' %}">Alterar senha</a>
    <a href="{% url 'excluir_conta' %}">Excluir conta</a>
  </div>
</div>
{% endblock %}
