{% extends "base.html" %}

{% block title %}Sobre nós{% endblock %}

{% block content %}
<style>
  .sobre-container {
    max-width: 800px;
    margin: 60px auto;
    background: #fff;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .sobre-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .sobre-container p {
    color: #555;
    line-height: 1.7;
  }

  .email {
    color: rgb(0, 4, 255);
  }
</style>

<div class="sobre-container">
  <h1>Sobre a Loja</h1>
  <p>Bem-vindo(a) à nossa loja! Somos apaixonados por oferecer os melhores produtos com qualidade, preço justo e um atendimento de excelência. Nossa missão é tornar sua experiência de compra simples, rápida e prazerosa.</p>
  <p>Desde o início, buscamos sempre inovar, garantindo produtos de confiança e uma plataforma segura para nossos clientes.</p>
   <p>Se tem alguma dúvida, sugestão ou reclamação, contacta-nos a través do email <span class="email">suporte.admin@lojafraiburgo.com.br</span></p>
</div>
{% endblock %}